html, body, div.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Georgia", serif;
	background-color: whitesmoke;
}

div.wrapper {
  display: flex;
  gap: 2em;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow: 5px 0px 18px 0px #848484;
  padding: 2em;
  overflow-x: scroll;
}

header ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
}

header li {
  padding: 0 0 1em;
  cursor: pointer;
}

header li:hover {
  color: lightblue;
}

header li.selected {
  color: darkblue;
  font-weight: bold;
}

main {
  flex: 3;
  overflow-y: auto;
  padding: 2em;
}

main img {
  display: block;
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 2em 0;
}
main div{
  display: flex;
  flex-direction: column;
}
main div.artist-info {
  font-style: italic;
}

.moves-container{ 
  min-width: 0;
  min-height: 0;
  max-height: 500px;
  max-width: 500px;
  flex:1;
}
.moves-container ul {
  overflow-x: scroll;
  list-style: none;
  padding:0;
  margin:0px;
}
.moves-container ul li {
  padding: 5px;
  border-bottom: 1px solid black; 
}


#pokemonimagescontainer{
  display:flex;
  flex-direction: row;
  border:2px solid black;
  border-radius:50px;
  border-style:outset;
}
.pokemonimages{
  display: block;
  width: 50%;
  height:50%;
  margin:0;
  padding:0;
}


#pokemonheader{
  padding:0;
  flex:1;
  margin:0;
}


#headercontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#nameHeader{
  text-align: center;
  
  
}
#nopokemonselected{
  text-align: center;
  font-size: 3.5em;
}
.stats-container{
flex:1;
}
.stats-container ul{
list-style: none;
}
.stats-container ul li{
list-style: none;
font-size: 2em;
border-bottom: 1px solid black;
}
#moves-stats-container{
  display: flex;
  flex-direction: row;
  margin-top:3px;
}
#selectwrapper{
  display: flex;
  flex-direction: row;
}
select{
  flex:1;
  align-self: center;
  margin-left:5px;
}